<!DOCTYPE html>
<html> 
  <head>
    <title>Sinatra Views Lab 2 - date</title>
  </head>
  <body>
    <%date = DateTime.now.parse%>
    <h1>Today</h1>
    <p><%="The date is #{DateTime.strftime([}"%></p>
  </body>
</html>
